RewriteEngine on
RewriteCond %{HTTP_HOST} ^omarrasool.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.omarrasool.com$
RewriteCond %{REQUEST_URI} !dist/
RewriteRule (.*) /dist/$1 [L]
# DO NOT REMOVE
RewriteEngine on
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:omarrasool.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?omarrasool.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:omarrasool.com

